
    <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" href="favicon.ico">
        <title>Timer Agency Template</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="bootstrap.min.css">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="ionicons.min.css">
        <!-- animate css -->
        <link rel="stylesheet" href="animate.css">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="slider.css">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="owl.carousel.css">
        <link rel="stylesheet" href="owl.theme.css">
        <!-- Fancybox -->
        <link rel="stylesheet" href="jquery.fancybox.css">
        <!-- template main css file -->
        <link rel="stylesheet" href="style.css">

    </head>