<!DOCTYPE html>
<html lang="en">
        <% include ../partials/head %>

    <body>
        <% include ../partials/nav %>
        <% include ../partials/about/path  %>


         <% include ../partials/about/description %>


        <% include ../partials/about/feature %>

       <% include ../partials/about/team  %>

        <% include ../partials/about/clients %>

        <% include ../partials/contact %>
        <% include ../partials/footer  %>

        <% include ../partials/script %>

        
    </body>
</html>