<!DOCTYPE html>
<html lang="en">
        <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>
        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <% include ../partials/about/path  %>


<!-- 
================================================== 
    Company Description Section Start
================================================== -->
         <% include ../partials/about/description %>


<!-- 
================================================== 
    Company Feature Section Start
================================================== -->
        <% include ../partials/about/feature %>


<!-- 
================================================== 
    Team Section Start
================================================== -->
       <% include ../partials/about/team  %>

        <!-- 
        ================================================== 
            Clients Section Start
        ================================================== -->
        <% include ../partials/about/clients %>





            <!--
        
    </body>
</html>