<!DOCTYPE html>
<html lang="en">
        <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <% include ../partials/blog/path %>
        <section id="blog-full-width">
    		<div class="container">
      		  <div class="row">
         	   <div class="col-md-8">


		<% include ../partials/blog/blogcontent %>
            </div>
            <!-- Sidebar -->
            <% include ../partials/blog/sidebar %>



            </div>
        </div>
</section>   