<!DOCTYPE html>
<html lang="en">
        <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <% include ../partials/contact/path %>

        <% include ../partials/contact/contact-section %>

        <% include ../partials/contact %>

        <% include ../partials/footer  %>

        <% include ../partials/script %>

        
    </body>
</html>