<!DOCTYPE html>
<html lang="en">
        <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <% include ../partials/gallery/path %>

        <% include ../partials/gallery/image %>

    	<% include ../partials/contact %>

        <% include ../partials/footer  %>

        <% include ../partials/script %>

        
    </body>
</html>