<!DOCTYPE html>
<html lang="en">
        <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>
      
        <% include ../partials/single-blog/name %>

        <% include ../partials/single-blog/des %>

      
        <% include ../partials/contact %>

        <% include ../partials/footer  %>

        <% include ../partials/script %>


        <script id="dsq-count-scr" src="//https-mysterious-waters-23087-herokuapp-com.disqus.com/count.js" async></script>
    </body>
</html>